<div class="row">
    <div class="col">
        <%- include('../partials/messages.ejs') %>
    </div>
</div>

<div class="row">    

    <div class="col-6">
        <!-- CAMPGROUND -->
        <div class="card mb-3">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location %></li>
                <li class="list-group-item">$<%= campground.price %><small class="text-muted"> /night</small></li>
            </ul>
            <% if (user && campground.author.equals(user._id)) { %> 
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/campgrounds/edit/<%= campground._id %>">Edit</a>
                    <form class="d-inline" action="/campgrounds/delete/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>

    <div class="col-6">
        <!-- REVIEW FORM -->
        <h2>Leave a Review</h2>
        <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" id="rating" type="range" min="1" max="5" name="rating">
            </div>

            <div class="mb-3">
                <label class="form-label" for="review">Review</label>
                <textarea class="form-control" id="review" name="review" cols="50" rows="3" required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

        <!-- REVIEWS -->
        <h3 class="mt-3">Reviews</h3>
        <% for(let review of campground.reviews) { %> 
            <div class="card mb-3">
                <div class="card-body">
                    <h5>Rating: <%= review.rating %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">By: <%= review.author.email %> </h6>
                    <p><%= review.review %></p>
        
                    <% if (user && campground.author.equals(user._id) || review.author.equals(user._id)) { %> 
                        <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>